*{
 padding: 0;
 margin: 0;   
}

body{ 
    background-color: #fffef5;
}
.logo{
    width: 30%;
}

.text{
    display: flex;
    flex-direction: column;
    gap:40px;
    align-items: center;
}

.intro{
    color: #191800;
    font-size: 1.6em;
    text-align:justify;
}

.hero-img{
    display: flex;
    justify-content: center;
    margin-top:3% ;
    height: 25rem; 
}

.intro{
    width: 738px;
}
.box{
    outline: 1px solid white;
}

.mail-form{
    display: flex;
    gap: 3px;
    align-items: center;
    
}

.mailbox{
    width: 25rem;
    height: 3.5rem;
    border-radius: 65px;
    border: 2px solid #030fe2;
    /* outline: 2px solid #030fe2; */
    background-color: transparent;
}

input:focus{
  outline: none;
  background-color: transparent;
}

input::placeholder{
    text-align: center;
}

input{
    text-align: center;
    font-size: larger;
}

/* .button{
    display: flex;
    gap: 10px
} */

.submit-btn{
    height: 3.5rem;
    border-radius: 45px;
    border: none;
    width: 8.5rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: #3640fc ;
    color: #191800;
}

.submit-btn:hover{
    opacity: 85%;
}

.hidden{
    display: none;
}



